In [7]:
import pyforest
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
data = pd.read_csv(r"C:\Users\Chitransha Agarwal\Downloads\creditcard.csv\creditcard.csv")

In [9]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [10]:
data.shape

(284807, 31)

In [23]:
data['Class'].value_counts() ## highly imbalanced data

Class
0    284315
1       492
Name: count, dtype: int64

In [21]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [25]:
## distribution of legit transaction and fraudulent transaction

legit = data[data['Class'] == 0]
fraud = data[data['Class'] == 1]

In [27]:
## statistical measures of the data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [28]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [29]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [32]:
## undersampling -> for imbalanced data
# build a sample dataset containing similar distribution of legit transaction and fraud transaction

In [33]:
## NUmber of Fraud - 492

In [34]:
legit_sample = legit.sample(n=492)

In [35]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
119862,75612.0,-0.389670,0.830111,1.343584,-0.007606,0.286596,-0.483025,0.781304,-0.053208,-0.626817,...,0.122332,0.355931,-0.156285,0.113146,0.005661,0.384365,0.022117,0.049069,19.27,0
181069,124813.0,-4.722216,-4.920648,2.225774,6.235216,6.152422,-3.532724,-3.600614,0.578903,-1.568508,...,0.636493,0.162309,0.773453,0.355474,0.759084,0.652851,-0.139180,0.205408,9.94,0
52562,45530.0,-0.524653,0.778291,1.411773,-0.381409,0.834973,-0.018560,1.041565,-0.030079,-0.487249,...,0.135173,0.464993,-0.284545,-0.335443,0.006066,-0.556131,-0.056684,-0.111023,13.40,0
271144,164431.0,-1.015747,-0.800843,1.134431,-1.068369,-0.302791,-0.649014,0.786290,-0.276533,0.815883,...,0.124381,0.707247,0.632419,-0.082894,-0.665677,1.208834,-0.067851,-0.166150,150.00,0
103762,68781.0,0.489049,-0.918991,1.586566,2.862715,-1.381157,0.814082,-0.666927,0.368655,0.166010,...,0.389888,0.598068,-0.324564,0.355696,0.186876,0.118083,0.003806,0.080714,295.09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122431,76558.0,0.913063,-0.399727,1.430611,1.383739,-1.260979,0.004453,-0.753447,0.253978,0.767216,...,0.344773,0.824657,-0.066200,0.395492,0.176380,-0.235755,0.067777,0.057527,100.82,0
262364,160437.0,2.099589,0.147225,-2.051295,0.075326,1.000881,-0.006830,0.119161,-0.078090,0.169563,...,-0.364558,-0.932776,0.203563,-0.421548,-0.135726,0.208837,-0.062025,-0.048347,0.89,0
234289,147911.0,-0.966224,0.754857,1.962640,0.699430,0.589974,0.549856,0.298904,0.343361,-0.672719,...,-0.152671,-0.447024,-0.074269,0.655390,0.349367,-0.712805,0.335503,0.154544,34.40,0
36208,38436.0,1.143727,0.240891,0.262525,1.252970,-0.068439,-0.201014,0.102348,0.064419,-0.146680,...,0.050415,0.286222,-0.096846,0.226147,0.692786,-0.259041,0.019361,0.000707,1.00,0
134717,80929.0,1.171246,0.241336,0.293550,0.528603,-0.144114,-0.281717,-0.109283,0.094397,-0.198179,...,-0.211243,-0.620911,0.149069,-0.028148,0.106485,0.107608,-0.011720,0.016656,1.29,0

In [36]:
## new balanced data

In [37]:
credit_data = pd.concat([legit_sample,fraud],axis=0)

In [38]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
119862,75612.0,-0.389670,0.830111,1.343584,-0.007606,0.286596,-0.483025,0.781304,-0.053208,-0.626817,...,0.122332,0.355931,-0.156285,0.113146,0.005661,0.384365,0.022117,0.049069,19.27,0
181069,124813.0,-4.722216,-4.920648,2.225774,6.235216,6.152422,-3.532724,-3.600614,0.578903,-1.568508,...,0.636493,0.162309,0.773453,0.355474,0.759084,0.652851,-0.139180,0.205408,9.94,0
52562,45530.0,-0.524653,0.778291,1.411773,-0.381409,0.834973,-0.018560,1.041565,-0.030079,-0.487249,...,0.135173,0.464993,-0.284545,-0.335443,0.006066,-0.556131,-0.056684,-0.111023,13.40,0
271144,164431.0,-1.015747,-0.800843,1.134431,-1.068369,-0.302791,-0.649014,0.786290,-0.276533,0.815883,...,0.124381,0.707247,0.632419,-0.082894,-0.665677,1.208834,-0.067851,-0.166150,150.00,0
103762,68781.0,0.489049,-0.918991,1.586566,2.862715,-1.381157,0.814082,-0.666927,0.368655,0.166010,...,0.389888,0.598068,-0.324564,0.355696,0.186876,0.118083,0.003806,0.080714,295.09,0

In [39]:
credit_data.shape

(984, 31)

In [40]:
credit_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [41]:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94338.575203,0.119178,-0.033406,0.055472,-0.125852,-0.007360,0.040892,-0.005434,-0.048656,-0.008844,...,0.026302,0.013432,0.038568,-0.030409,-0.020874,0.043823,0.022390,-0.000175,-0.013080,88.664878
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [45]:
## splitting the data into features and targets
x = credit_data.iloc[:,:-1]
y = credit_data.iloc[:,-1]

In [53]:
y.head()

119862    0
181069    0
52562     0
271144    0
103762    0
Name: Class, dtype: int64

            Time        V1        V2        V3        V4        V5        V6  \
119862   75612.0 -0.389670  0.830111  1.343584 -0.007606  0.286596 -0.483025
181069  124813.0 -4.722216 -4.920648  2.225774  6.235216  6.152422 -3.532724
52562    45530.0 -0.524653  0.778291  1.411773 -0.381409  0.834973 -0.018560
271144  164431.0 -1.015747 -0.800843  1.134431 -1.068369 -0.302791 -0.649014
103762   68781.0  0.489049 -0.918991  1.586566  2.862715 -1.381157  0.814082
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
119862  0.781304 -0.053208 -0.626817  ... -0.015958  0.122332  0.355931
181069 -3.600614  0.578903 -1.568508  ...  1.815347  0.636493  0.162309
52562   1.041565 -0.030079 -0.487249  ... -0.178750  0.135173  0.464993
271144  0.786290 -0.276533  0.815883  ... -0.220406  0.124381  0.707247
103762 -0.666927  0.368655  0.166010  ...  0.434394  0.389888  0.598068
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
119862 -0.156285  0.113146  0.005661  0.384365  0.022117  0.049069   19.27
181069  0.773453  0.355474  0.759084  0.652851 -0.139180  0.205408    9.94
52562  -0.284545 -0.335443  0.006066 -0.556131 -0.056684 -0.111023   13.40
271144  0.632419 -0.082894 -0.665677  1.208834 -0.067851 -0.166150  150.00
103762 -0.324564  0.355696  0.186876  0.118083  0.003806  0.080714  295.09
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns] 119862    0
181069    0
52562     0
271144    0
103762    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [70]:
## split data into train and test

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2,stratify=y) ## startify y means it will equally distribute 1 and 0 in y

In [76]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

In [77]:
## model training

# LOGISTIC REGRESSION

model = LogisticRegression()

In [78]:
# training the logistic regression model with training data
LogisticRegression = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [85]:
# model evalution -> accuracy score

# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)
print("Training Accuracy",training_data_accuracy)

x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)
print("Test Accuracy",test_data_accuracy)

Training Accuracy 0.9428208386277002
Test Accuracy 0.934010152284264